#id-main {
	width: 95vw;
	height: auto;
	display: block;
	margin: 0;
	padding: 0 2vw 0 3vw;
	font-size: 2.4vw;
	text-align: justify;
	font-family: Lustria Regular;
}
	
	#id-main article {
		margin: 0 0 20px 0;
	}

	#id-main section {
		margin: 0 0 20px 0;
	}
	
		h2 {
			margin: 0 0 0.5em 0;
			
			text-align: left;
		}

		p {
			margin: 0 0 1em 0;
			padding: 0px;
			
			text-indent: 5vw;
		}

		.imgDiv {
			float: right;
			
			width: 30%;
			margin: 0 20px;
			
			font-size: 1.5vw;
			text-align: center;
		}

			.imgDiv > img {
				width: 100%;
				
				border: 1px solid black;
			}
			
			.imgDiv > p {
				margin: 0px;
				
				text-align: center;
			}

@media screen and (min-width: 800px) {
	#id-main {
		font-size: 1.5vw;
		padding: 20px 0 0 35px;
	}
	
		#id-main > section > p {
			
		}
	
		.imgDiv {
			width: 18vw;
			
			font-size: .8vw;
		}
}



