:root {
	--mobile-size2: 18px;
	--mobile-size3: 14px;
	
	--desktop-size2: 24px;
	--desktop-size3: 16px;
	
	--breakpoint-min-width: default;
	--breakpoint-max-width: none;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	:root {
		--breakpoint-min-width: 600px;
		--breakpoint-max-width: 799px;
	}
}

@media screen and (min-width: 800px) {
	:root {
		--breakpoint-min-width: 800px;
		--breakpoint-max-width: none;
	}
}

/* --- Fonts --- */

@font-face {
	font-family: Montserrat Regular;
	src: url("../resources/fonts/Montserrat/Montserrat-Regular.otf");
}

@font-face {
	font-family: Lustria Regular;
	src: url("../assets/fonts/Lustria-Regular.ttf");
}

/* --- Header --- */

#id-header {
	position: fixed;
	background-color: #FA5;
	
	top: 0;
	height: 6vh;
	width: 100vw;
	padding: 0 0 0.5vh 0;
}

	#id-header div {
		float: left;
		color: white;
		
		height: 100%;
		padding: 0.5vh 20px 0 5px;
		
		font-size: 3vh;
		text-align: center;
	}

	#id-header div:hover{
		background-color: #F70;
	}
	
/* --- Body and Content --- */

body {
	margin: 9vh 0 0 0;
	padding-bottom: 100px;
	
	background-color: #FFE;
	
	font-family: "Lustria Regular";
}

h2 {
	line-height: 1.2;
	margin: 0 0 10px 0;
	
	font-size: 18px;
	text-align: center;
}

h3 {
	line-height: 1.2;
	margin: 0px;
	
	font-size: 14px;
}

div {
	line-height: 1.2;
}

/* --- Forms --- */

form {
	display: block;
	
	text-align: center;
}

select, option, button {
	height: 20px;
			
	font-size: 14px;
	cursor: pointer;
}

/* Float-Clear Fix */

.class-clearfix {
	display: block;
	clear: both;
	
	visibility: hidden;
	
	height: 0;
	
	font-size: 0;
}

@media screen and (min-width: 800px) {
	body {
		margin: 9vh 0 0 0;
	}
	
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}
	
	/* Header */
		
	#id-header {
		height: 8vh;
		padding: 0 0 1vh 0;
	}
	
	#id-header div {
		height: 8vh;
		padding: 1vh 20px 0 5px;
		
		font-size: 4vh;
	}
	
	/* Forms */
	
	select, option, button {
		height: 24px;
		
		font-size: 16px;
	}
}