:root {
	--NUMBER-OF-GENERATIONS: 4;
	--symbol-length-px: 28px;
}

body {
	margin: 0px;
	
	font-family: "Arial";
}

h2 {
	line-height: 1.2;
	margin: 0px;
	
	font-size: 24px;
}

h3 {
	line-height: 1.2;
	margin: 0px;
	
	font-size: 18px;
}