:root {
	--mobile-size2: 18px;
	--mobile-size3: 14px;
	
	--desktop-size2: 24px;
	--desktop-size3: 16px;
}

@font-face {
	font-family: Montserrat Regular;
	src: url("../resources/fonts/Montserrat/Montserrat-Regular.otf");
}

@font-face {
	font-family: Lustria Regular;
	src: url("../resources/fonts/Lustria-Regular.ttf");
}

body {
	margin: 4vw 0 0 0;
	padding-bottom: 100px;
	background-color: beige;
	font-family: "Lustria Regular";
}

#id-header{
	position:absolute;
	top:0;
	height: 8vh;
	width: 100vw;
	padding: 0 0 1vh 0;
	background-color:lightgray;
}

#id-header div{
	height:8vh;
	float: left;
	padding: 1vh 20px 0 5px;
	font-size:4vh;
	color: white;
}

#id-header div:hover{
	background-color:gray;
}

h2 {
	line-height: 1.2;
	margin: 0 0 10px 0;
	
	font-size: 18px;
	text-align: center;
}

h3 {
	line-height: 1.2;
	margin: 0px;
	
	font-size: 14px;
}

form {
	text-align: center;
}

select, option, button {
	height: 20px;
			
	font-size: 14px;
	cursor: pointer;
}

br.class-clearfix {
	clear: both;
}

@media screen and (min-width: 600px) {
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}
	
	select, option, button {
		height: 24px;
		
		font-size: 16px;
	}
}